<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Create a new account</title>
</head>
<body>
    <div id="output">
        <h1 id="register">Register</h1>
        <div id="main_div">
            <div>
                <input id="user_input" class="inputs" placeholder="Username" type="text">
            </div>
            <div>
                <input id="password" class="inputs" placeholder="Password" type="password">
            </div>
            <div>
                <input class="inputs" id="button" type="button" value="Submit" onclick="create_user()">
            </div>
        </div>
    </div>
    <div id="respond">
        <h2 id="response"></h2>
    </div>
    <div id="link">
        <p>Already have an account?</p> <a href="http://localhost:3001/login">Login</a>
    </div>
    <link rel="stylesheet" href="../public/css/create_user.css" type="text/css" />
    <script src="../user_create.js"></script>
</body>
</html>