<!DOCTYPE html>
<head>
    <body>
        
        <h2 id = 'response'></h2>
        <h3 id = 'answer'></h3>
        <div>
        </div> 
        <style>
            h1
            {
              font-family: Cabin; 
              font-size: 50px;
              color: black;
              text-align: center;
            }
            #input_bar{
                width: 400px;
            }
            div{
                text-align: center;
            }
            body{
                background-color: red;
            }
        </style>
        <script src="../guess.js"> 
        </script>
    </body>
</head>