<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h1 id = "login">Log in</h1>
    <h2>
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    </h2>
    <div id="form_webpage">
    <form action="/login/password" method="POST">
        <div>
            <input class="inputs" id="username" name="username" type="text" placeholder="Username" autocomplete="username" required />
        </div>
        <div>
            <input class="inputs" id="current-password" name="password" type="password" placeholder="Password" autocomplete="current-password" required />
        </div>
        <div>
            <button id="button" type="submit">Log in</button>
        </div>
    </form>
    </div>
    </div>
    <div>
    <p>Don't have an account?</p><a href="http://localhost:5500/views/create_user.html">Register</a>
    </div>
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
</body>
</html>