<!DOCTYPE html>
<head>
    <body>
        
        <h2 id = 'response'></h2>
        <% if (Array.isArray(output)) {%>
            <h1><%=output[0]%></h1>
            <div>
                <form action="/guess_check" method="POST">
                    <input type="text" id="user_input" name="user_guess">
                    <input type="hidden" name="result" value="<%=output[1]%>">
                    <button type="submit">Enter</button>
                </form>
            </div> 
        <% } else { %>
            <h1> <%= output %> </h1>
        <% } %>
        <div>
        </div> 
        <div>
            <button type="submit" id="joke" ><a href="/joke">More Jokes</a></button>
        </div>
        <link rel="stylesheet" href="/css/response.css" type="text/css" />
        <script>
            function prevent_coming_back() 
            {
                window.history.forward()
            }
            setTimeout("prevent_coming_back()", 0)
            window.onunload = () => null
        </script>
    </body>
</head>